[alias]
	network = log --all --graph --decorate --oneline
	n = log --all --graph --decorate --oneline
	fa = fetch --all
	fo = fetch origin
	fu = fetch upstream
	pum = pull upstream master
	ppm = "!f() { git pum && git push origin master; }; f"
	cm = commit -m
	s = status
	a = add
	aa = add .
	ai = add -i
	co = checkout
	db = branch -d
	d = diff
	rpou = remote prune origin upstream
[commit]
	verbose = true
    template = ~/.gitmessage
